[Desktop Entry]
Name=GtkITerm
Comment=GTK+ version of iterm implementation
Comment[pl]=Wersja GTK+ implementacji iterm
Exec=gtkiterm
Icon=gtkiterm
Terminal=false
Type=Application
Categories=GTK;TerminalEmulator;
# vi: encoding=utf-8
