[Desktop Entry]
Name=XiTerm
Comment=X Internationalized Terminal Emulator
Comment[pl]=Umiędzynarodowiony emulator terminala dla X
Exec=xiterm
Icon=xiterm.png
Terminal=false
Type=Application
Encoding=UTF-8
Categories=TerminalEmulator;
# vi: encoding=utf-8
