[Desktop Entry]
Name=XiTerm
Comment=X Internationalized Terminal Emulator
Comment[pl]=Umiędzynarodowiony emulator terminala dla X
Exec=xiterm
Icon=xiterm
Terminal=false
Type=Application
Categories=TerminalEmulator;
# vi: encoding=utf-8
